@charset "ISO-8859-1";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    height: 250px;
    width: 400px;
    padding-left: 40px;
    padding-top: 20px;
    background-color: blanchedalmond;
}
input{
    height: 50px;
    width: 270px;
    font-size: 25px;
    font-weight: 300;
    border-radius: 20px;
    margin-left: 5px;
}
.container .btn{
    background-color: cyan;
    cursor: pointer;
}
.btn:hover{
    color: red;
}
body{
    background-color: cadetblue;
}
h1{
    color: cyan;
    text-align: center;
   margin-right: 150px;
    margin-top: 20px;
    font-size: 60px;
    font-weight: 450;
    
}
h2{
    margin-left: 35%;
    margin-top: 3%;
    color: white;
    font-size: 30px;
}
label{
    font-size: 23px;
}